<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="canonical" href="https://html5-templates.com/" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>BLOG</title>
</head>

<body>
    <div id="desktop">
        <div class="window fullSizeWindow" data-title="Login">
            <p>Please login to continue.</p>

            {{#if flash}}
            <p>{{#if flash_type}}{{flash_type}}: {{/if}}{{ flash }}</p>
            {{/if}}

            <form action="/login" method="post" accept-charset="utf-8 " style="top:25%;left:25%;">
                <label for="username">username</label>
                <input type="text" name="username" id="username" value="" />
                <label for="password">password</label>
                <input type="password" name="password" id="password" value="" />
                <p><input type="submit" value="login"></p>
            </form>

            <a href="/register">register</a>
        </div>
        <div id="taskbar">
        </div>
    </div>
</body>

</html>